@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Checkout</h2>

            @using (Html.BeginForm("ProcessPayment", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <!-- Payment Method Selection -->
                <div class="form-group">
                    <label for="SelectedPaymentOption">Select Payment Method:</label>
                    @Html.DropDownListFor(model => model.SelectedPaymentOption, Model.PaymentOptions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedPaymentOption)
                </div>

                <!-- Credit Card Info -->
                <div id="creditCardInfo" class="payment-info">
                    <h4>Credit Card Information</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardNumber)
                        @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardNumber)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpirationDate)
                        @Html.TextBoxFor(model => model.ExpirationDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExpirationDate)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CVV)
                        @Html.TextBoxFor(model => model.CVV, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CVV)
                    </div>
                </div>

                <!-- PayPal Info -->
                <div id="paypalInfo" class="payment-info">
                    <h4>PayPal Information</h4>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PayPalEmail)
                        @Html.TextBoxFor(model => model.PayPalEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PayPalEmail)
                    </div>
                </div>

                <!-- Cash On Delivery Info -->
                <div id="cashOnDeliveryInfo" class="payment-info">
                    <h4>Cash On Delivery Information</h4>
                    <!-- You can include additional fields for COD if needed -->
                </div>

                <!-- Submit Payment button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Payment</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // JavaScript/jQuery logic to show/hide payment info based on selected payment method
        $(document).ready(function () {
            $("select#SelectedPaymentOption").change(function () {
                var selectedPayment = $(this).val();
                $(".payment-info").hide();
                $("#" + selectedPayment + "Info").show();
            });

            // Trigger the change event on page load to show the initial payment info
            $("select#SelectedPaymentOption").trigger("change");
        });
    </script>
}


